html {
  --color-primary: #ef5400;
  --color-warning: #ff9a26;
  --color-success: #33cc5e;
  --color-danger: #f22451;
  --color-default: #f9f9f9;
  --color-info: #757575;

  --color-border-default: #D1D1D1;

  --color-text-primary: #1A1A1A;
}